.loginCard {
    max-width: 400px;
    margin:auto;
    margin-top: 50px;
    form {
        .form-group {
            text-align:left;
        }
    }
}

.hidden{
    display:none;
}
.show{
    display:block;
}
